* {
  box-sizing: border-box;

  /* Color */
  --color-yellow: #FFE600;
  --color-black: #000000;
  --color-dark: #404040;
  --color-white: #FFF;
  --color-grey: #EBEBEB;

  /* Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

}

/* General */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

ul {
  display: none;
}

h1,h2,h3 {
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  color: var(--color-black);
  font-family: inherit;
  font-size: var(--font-size-small);
  text-decoration: none;
  display: inline-block;
}

/* Typography */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.section-title {
  font-weight: 700;
  border-bottom: 1px solid var(--color-yellow);
  border-width: 2px;
}

nav,
a,
.footer-copyright {
  font-size: 0.875rem;
}

a {
  font-weight: 700;
}

/* header */

header {
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
}

.header-container {
  max-width: 400px;
  margin: 0 2em;
}

nav {
}
.nav-logo {
  background-color: var(--color-yellow);
  padding-top: 2em;
}

.header-body {
  padding: 4em 0;
  width: 90%;
}


.header-subtitle {
  margin: 1.5em 0;
}

a {
  background-color: var(--color-yellow);
  padding: 0.6em 1.5em;
}

@media (min-width: 1000px) {
  .header-container {
    max-width: 600px;
    margin: 0 8em;
  }
}

/* main */

main {
  margin: 3em 0;
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 420px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



section + section {
  margin-top: 3em;
}

.section-title {
  display: inline-block;
  padding-bottom: 0.5em;

}

.section-body {
  margin: 1em auto;
  line-height: 1.6;
  max-width: 300px;
}


@media (min-width: 800px) {
  .main-container {
    margin: 0 8em;
    max-width: 2000px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  section {
    margin: 3em 0;
  }
}

/* footer */
footer {
  text-align: center;
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 420px;
}

.footer-main {
    opacity: 0.5;
}

.footer-body {
  line-height: 1.6;
}

.footer-icon {
  order: -1;
  margin: 2em 0;
}

.footer-icon i {
  font-size: 1.5rem;
  margin-left: 4px;
}

.footer-logo {
  opacity: 0.3;
}

.footer-copyright {
  margin: 3em;
  opacity: 0.3;

}

@media (min-width: 800px) {
  .footer-container {
    margin: 0 8em;
    max-width: 2000px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-main {
    margin: 2em;
    text-align: left;
  }

  .footer-body {
    width: 800px;
  }

  .footer-icon {
    order: 2;
  }
}